@import "tailwindcss";

@theme {
  --color-primary-300: var(--theme-300);
  --color-primary-400: var(--theme-400);
  --color-primary-500: var(--theme-500);
  --color-primary-600: var(--theme-600);
  --color-primary-700: var(--theme-700);
  --color-primary-800: var(--theme-800);
  --color-primary-900: var(--theme-900);
  --color-primary-950: var(--theme-950);
}

@layer base {
  :root {
    --theme-300: #86efac;
    --theme-400: #4ade80;
    --theme-500: #22c55e;
    --theme-600: #16a34a;
    --theme-700: #15803d;
    --theme-800: #166534;
    --theme-900: #14532d;
    --theme-950: #052e16;
  }
  
  .theme-purple {
    --theme-300: #d8b4fe;
    --theme-400: #c084fc;
    --theme-500: #a855f7;
    --theme-600: #9333ea;
    --theme-700: #7e22ce;
    --theme-800: #6b21a8;
    --theme-900: #581c87;
    --theme-950: #3b0764;
  }

  .theme-amber {
    --theme-300: #fcd34d;
    --theme-400: #fbbf24;
    --theme-500: #f59e0b;
    --theme-600: #d97706;
    --theme-700: #b45309;
    --theme-800: #92400e;
    --theme-900: #78350f;
    --theme-950: #451a03;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
